.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-container {
  background-image: linear-gradient(to bottom, #2b2c49, #b5b9ff);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 350px;
}
